<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WPAProto.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EAAD0E2D72083849DDA2494E5DB9AC67DAB9389</string>
				<key>dateExpires</key>
				<string>7/20/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EAAD0E2D72083849DDA2494E5DB9AC67DAB9389</string>
						<key>dateExpires</key>
						<string>7/20/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PX5EAGRWZ3</string>
						<key>name</key>
						<string>Aik Khoon Low</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PX5EAGRWZ3.aik.WPAProto</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PX5EAGRWZ3</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.aik.WPAProto.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WPAProto.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b2487601-3642-4265-9957-85a72967331d</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: aik.WPAProto</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PX5EAGRWZ3</string>
				<key>name</key>
				<string>Aik Khoon Low</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
